<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>misc.</title>
  </head>
  <body>
    <h1>misc.</h1>
    <form action="" method=post>
    {% if error %}
      <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
    <p>url:
      <input type=text name=url value="{{ url }}" class=urlinput>
      <input type=submit value="post">
  </form>
  <ul id="urls">
    {% for u in urls %}
      <li><a href="{{ u }}">{{ u }}</a></li>
    {% endfor %}
  </ul>
  </body>
</html>
